#root {
}

canvas {
    background-color: #333;
    display: block;
}

.icon {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    z-index: 1100;
}

.help-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    background-color:rgba(34, 34, 34, 0.95);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    color: #ccc;

    width: 90%;
    max-width: 1000px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 90vh;
}

.small-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90px;
    margin: 20px auto;
}

.small-grid span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    aspect-ratio: 1;
    background-color: #333;
    font-family: monospace;
    transition: background-color 0.3s ease;
}

.small-grid span.alive {
    background-color: #ccc;
    border: 1px solid #444;
}

.rules {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto 20px auto;
    gap: 20px;
}

.control-container {
    display: flex;
    justify-content: center;
}

.controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 50px;
}

.control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.control-icon {
    font-size: 24px;
    color: #ccc;
    display: flex;
    align-items: center;
}

.info-modal {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 15px;
    color: #ccc;
    background-color:rgba(34, 34, 34, 0.95);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    font-family: monospace;
    border-radius: 10px;
    padding: 5px 10px;

    max-width: 100%;
    word-wrap: break-word;
    font-size: clamp(0.75rem, 2vw,1rem);
    box-sizing: border-box;
}

.info-modal p {
    font-size: 0.85rem;
}
